/* navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li{
    padding-bottom: 8px;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 6px;
}


/* home section */
#home{
height: 220px;
padding: 3px;
}

#home::before{
    height: 400px;
}

#home p{
    font-size: 13px;
}


/* services section */
#services{
    flex-direction: column;
}

#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

#services .box img{
    height: 100px;
}


/* clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    height: 66px;
}


/* contact us section */
#contact-box form{
    width: 80vw;
}


/* utility classes */
.h-primary{
    font-size: 26px;
    margin-top: 35px;
}

.h-secondary{
    font-size: 1.3rem;
    padding: 4px;
}


/* button styling */
.btn,.btns{
    font-size: 13px;
    padding: 4px 8px;
}
